<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
			<add key="pathCars" value="C:\Users\csampedro\source\repos\Proyecto-Agencia_de_Alquiler_de_Autos\bin\Debug\car.json"/>
			<add key="pathClients" value="C:\Users\csampedro\source\repos\Proyecto-Agencia_de_Alquiler_de_Autos\bin\Debug\client.json"/>
			<add key="pathRentals" value="C:\Users\csampedro\source\repos\Proyecto-Agencia_de_Alquiler_de_Autos\bin\Debug\rental.json"/>
		</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>